*test_output*

__pycache__/
testing.h5ad
.vscode/settings.json
data/*[!{.py}]
data/*[!{.md}]
reports/*
!reports/*.Rmd
!reports/*.ipynb
!reports/*.R
!reports/img
!reports/img/*.png
BenchmarkingSupervisedTool/data/*
BenchmarkingSupervisedTool/reports/*
!BenchmarkingSupervisedTool/reports/*.Rmd
!BenchmarkingSupervisedTool/reports/img/
!BenchmarkingSupervisedTool/reports/img/*.png
BenchmarkingSupervisedTool/cluster/
BenchmarkingAllTools/data/*
BenchmarkingAllTools/reports/*
!BenchmarkingAllTools/reports/*.Rmd
!BenchmarkingAllTools/reports/img/
!BenchmarkingAllTools/reports/img/*.png
BenchmarkingAllTools/cluster/
.ipynb_checkpoints
scIB.egg-info
*cache*
.snakemake
cluster/

.Rproj.user
Benchmarking_data_integration.Rproj
.DS_Store
.Rhistory

.idea/

*.Rproj
